<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ('../partials/head.ejs')%>
  </head>
  <body class="container">
    <h1>Login</h1>
    <form name="login" action="/Login" method="post">
      <label for="mail">E-Mail</label>
      <input type="text" name="mail" id="mail" autofocus/>

      <label for="password">Password</label>
      <input type="password" name="password" id="password" />

      <input type="submit" />
    </form>
  </body>
</html>