<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ('../partials/head.ejs')%>
  </head>
  <body class="container">
    <h1>Login</h1>
    <form name="login" action="/login">
      <input type="text" name="username" value="">Username<br>
      <input type="password" name="password" value="">Password<br><br>
      <input type="button" value="Submit" id="submit1">
    </form>
  </body>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script type="text/javascript">
    document.getElementById("submit1").onclick = function(){
        <%= test()%>;
    };
  </script>
</html>