<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ('../partials/head.ejs') %>
  </head>
  <body class="container">
    <h1>Login</h1>
    <form name="login" action="/login">
      <input type="text" name="username" value="">Username<br>
      <input type="password" name="password" value="">Password<br><br>
      <input type="button" value="Submit" id="submit">
    </form>
  </body>
  <script src="bdd.js" type="module">
    
    document.getElementById("submit").onclick = function(){
      import B from "./bdd.js"
      console.log("nique ta race");
      
      bdd.test();
      
    };
  </script>
</html>