<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ('../partials/head.ejs') %>
  </head>
  <body class="container">
    <h1>Update an Outcome</h1>
    <form name="outcome" action="/UpdateOutcome" method="post">
        <select name=date id="date" size="1">
            <% content.depense.forEach(element => { %>
                <option ><%= element.date %></option>
            <% }) %>)
        </select>

        <label for="amount">Amount: </label>
        <input type="text" name="amount" id="amount" />
        <br/><br/>
        <input type="submit" >
    </form>
  </body>

</html>