<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ('../partials/head.ejs') %>
  </head>
  <body class="container">
    <h1>Hello <%= name%></h1>

    <button class="btn btn-success" id="signout">
      Sign Out
    </button>

    <button class="btn btn-success" id="add-outcome">Add an outcome</button>

  </body>
  <script type="text/javascript">
    document.getElementById("signout").onclick = function () {
        location.href = "/";
    };
   
    document.getElementById("add-outcome").onclick = function () {
      location.href = "/AddOutcome";
    };

</script>
</html>